<?xml version="1.0"?>
<configuration>
  
   
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MavsBanking" connectionString="Data Source=182.50.133.110;Initial Catalog=StaffClient;User ID=shoolini;Password=eSvk366*;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=300;" providerName="System.Data.SqlClient" />-->
    <!--add name="MavsBanking" connectionString="Data Source=AVS-PC10;Initial Catalog=AVSHS;User ID=sa;Password=avs@123;Min Pool Size=5; Max Pool Size=1000;Timeout=3000;" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AVSBanking-20151005121959;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AVSBanking-20151005121959.mdf"/>-->
    <add name="constr" connectionString="Data Source=103.228.152.232;Initial Catalog=HSFM;User ID=sa;Password=IiB)5^`t;Min Pool Size=5; Max Pool Size=1000;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'"/>
  
  </connectionStrings>
  
  <runtime> 
    <generatePublisherEvidence enabled="false" />
  </runtime>
  
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
		   validate="false" />
    </httpHandlers>

    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </httpModules>
    <pages enableSessionState="true"/>
    <compilation debug="true" targetFramework="4.5" batch="false">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <globalization  culture="en-NZ"  uiCulture="en-NZ"/>
    <sessionState timeout="50000"></sessionState>
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FolderPath" value="Document/" />
   <add key="FolderPath" value="Files/"/>

  </appSettings>
  
  <system.webServer>
    <modules>
      <add name="QueryStringModule" type="QueryStringModule"/>
      <remove name="ScriptModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="FrmLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>


